<!-- <header class="d-flex flex-wrap  py-3 border-bottom sticky-top z-3 bg-light">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <p class="m-0 ps-3 fs-4 questrial-regular">Amanda Guene</p>
    </a>
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#sobre" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
</header> -->
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom sticky-top z-3 bg-light">
    
    <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <p class="m-0 ps-3 fs-4 questrial-regular">Amanda Guene</p>
        </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-3 nav-link-custom questrial-regular">Home</a></li>
        <li><a href="#sobre" class="nav-link px-3 nav-link-custom questrial-regular">Features</a></li>
        <li><a href="#" class="nav-link px-3 nav-link-custom questrial-regular">Pricing</a></li>
        <li><a href="#" class="nav-link px-3 nav-link-custom questrial-regular">FAQs</a></li>
        <li><a href="#" class="nav-link px-3 nav-link-custom questrial-regular">About</a></li>
    </ul>

    <div class="col-md-3 text-end pe-3">
        <button type="button" class="btn btn-outline-verde px-4">Login</button>
    </div>
    
</header>