<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom sticky-top z-3 bg-light">
    <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <p class="m-0 ps-3 fw-semibold text-dark fs-4 questrial-regular">Amanda Guene</p>
        </a>
    </div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="." fragment="sobre" class="nav-link px-3 nav-link-custom questrial-regular">Sobre</a></li>
        <li><a routerLink="." fragment="especialidades" class="nav-link px-3 nav-link-custom questrial-regular">Especialidades</a></li>
        <li><a routerLink="." fragment="como-funciona" class="nav-link px-3 nav-link-custom questrial-regular">Como funciona</a></li>
        <li><a routerLink="." fragment="avaliacoes" class="nav-link px-3 nav-link-custom questrial-regular">Avaliações</a></li>
    </ul>
    <div class="col-md-3 text-end pe-3">
        <button type="button" class="btn btn-outline-verde px-4" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
    </div>
</header>
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true" data-bs-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4 border-0 shadow">
            <div class="modal-header border-bottom-0 pb-0 pt-4 px-4">
                <h1 class="modal-title fs-4 fw-bold questrial-regular" id="loginModalLabel">Acesso ao painel</h1>
            </div>
            <form #formLogin="ngForm" (ngSubmit)="login()">
                <div class="modal-body p-4">
                    <div class="alert alert-danger py-2 mb-3" *ngIf="errorMessage">
                        {{ errorMessage }}
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" id="nomeLogin" name="nome" placeholder="Nome de usuário" [(ngModel)]="loginForm.nome" required>
                        <label for="nomeLogin" class="text-secondary">Nome de usuário</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-3" id="senhaLogin" name="senha" placeholder="Senha" [(ngModel)]="loginForm.senha" required>
                        <label for="senhaLogin" class="text-secondary">Senha</label>
                    </div>
                </div>
                <div class="modal-footer border-top-0 pb-4 px-4 pt-0 d-flex justify-content-between">
                    <button type="button" class="btn btn-light rounded-pill px-4" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-outline-verde rounded-pill px-4 fw-medium" [disabled]="!formLogin.valid">
                        Entrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>