<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom sticky-top z-3 bg-light">
    <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <p class="m-0 ps-3 fw-semibold text-dark fs-4 questrial-regular">Amanda Guene</p>
        </a>
    </div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#sobre" class="nav-link px-3 nav-link-custom questrial-regular">Sobre</a></li>
        <li><a href="#especialidades" class="nav-link px-3 nav-link-custom questrial-regular">Especialidades</a></li>
        <li><a href="#avaliacoes" class="nav-link px-3 nav-link-custom questrial-regular">Avaliações</a></li>
    </ul>
    <div class="col-md-3 text-end pe-3">
        <button type="button" class="btn btn-outline-verde px-4">Login</button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
    </div>
</header>