/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Olarwe';
    src: url('/fonts/OlarweRegular-nRev1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    /* width: 100vw; */
}

.questrial-regular {
  font-family: "Questrial", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

.olarwe {
    font-family: 'Olarwe',sans-serif !important;
}

.verde-fundo {
    background-color: #98d4b620 !important;
}

.verde-destaque {
    color: #98d4b6 !important;
}

.azul-fundo {
    background-color: #98cad4 !important;
}

.azul-destaque {
    color: #98cad4 !important;
}